@font-face {
    font-family: "zar";
    src: url("zar.ttf");
}
:root{
    --background-color: #11101d;
    --input-color: #1d1b31;
}
*{
    direction: rtl;
    text-align: right;
    padding: 0;
    margin: 0;
    font-family: 'zar';
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100%;
    min-height: 100vh; 
    overflow: hidden;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    background: var(--background-color);
    padding: 6px 10px;
    height: 100%;
    width: 70px;
    transition: all 0.3s ease;
}
.sidebar.active{
    width: 220px;
}
.sidebar .logo-content .logo{
    color: white;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .logo-content .logo{
    opacity: 1;
}
.logo-content .logo i{
    font-size: 28px;
    margin-left: 8px;
}
.logo-content .logo .logo-name{
    font-size: 20px;
    font-weight: 500;
}
.sidebar #btn{
    position: absolute;
    cursor: pointer;
    color: white;
    right: 50%;
    font-size: 20px;
    line-height: 50px;
    top: 6px;
    height: 50px;
    width: 50px;
    text-align: center;
    transform: translateX(50%);
}
.sidebar.active #btn{
    right: 90%;
}
.sidebar .nav-list{
    width: 50px;
    position: relative;
    right: 0;
}
.sidebar.active .nav-list{
    width: 200px;
}
.sidebar ul{
    margin-top: 20PX;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    list-style: none;
    margin: 1px 0;
    line-height: 50px;
}
.sidebar ul li .tooltip{
    position: absolute;
    height: 35px;
    width: 122px;
    background: white;
    box-shadow: 2px 10px 10px rgba(0,0,0,0.3);
    right: 132px;
    font-size: 18px;
    font-weight: 300;
    top: 0;
    transform: translate(50% , -50%);
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
.sidebar.active ul li .tooltip{
    display: none;
}
.sidebar ul li:hover .tooltip{
    top: 50%;
    opacity: 1;
    transition: all 0.3s ease;
}
.sidebar ul li input{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: var(--input-color);
    font-size: 18px;
    padding-right: 50px;
    color: white;
}
.sidebar ul li .bx-search{
    position: absolute;
    font-size: 20px;
    z-index: 99;
    color: white;
    transition: all 0.3s ease;
}
.sidebar ul li .bx-search:hover{
    color: var(--input-color);
    background: white;
    cursor: pointer;
}
.sidebar.active ul li .bx-search:hover{
    background: none;
    color: white;
}
.sidebar ul li a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul li a:hover{
    color: var(--background-color);
    background: white;
}
.sidebar .links-name{
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .links-name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar ul li i{
    height: 50px;
    border-radius: 12px;
    min-width: 50px;
    line-height: 50px;
    text-align: center;
}
.sidebar .profile-content{
    position: absolute;
    color: white;
    bottom: 0;
    right: 0;
    width: 100%;
}
.sidebar .profile-content .profile{
    position: relative;
    padding: 8px 8px;
    height: 60px;
    background: none;
    transition: all 0.3s ease;
}
.sidebar.active .profile-content .profile{
    background: var(--input-color);
}
.sidebar .profile-content .profile .profile-details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.sidebar.active .profile-content .profile .profile-details{
    opacity: 1;
    pointer-events: auto;
}
.profile .profile-details img{
    height: 44px;
    width: 44px;
    object-fit: cover;
    border-radius: 12px;
}
.profile .profile-details .job-name{
    margin-right: 8px;
}
.profile .profile-details .name{
    font-size: 15px;
    font-weight: 400;
}
.profile .profile-details .job{
    font-size: 12px;
}
.profile #log-out{
    position: absolute;
    bottom: 5px;
    right: 50%;
    text-align: center;
    transform: translateX(50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    background: var(--input-color);
    transition: all 0.3s ease;
}
.sidebar.active .profile #log-out{
    right: 90%;
    cursor: pointer;
    background: none;
}
.home-content{
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    right: 78px;
    transition: all 0.3s ease;
}
.home-content .text{
    font-size: 25px;
    font-weight: 500;
    color: var(--input-color);
    margin-top: 12px; 
}
.sidebar.active ~ .home-content{
    width: calc(100% - 240px);
    right: 240px;
}

















