@font-face {
    font-family: yekan;
    src: url("../../fonts\B_Yekan\Yekan.ttf");
}
:root{
    --headings: #607d8b;
    --borders: #ff4584;
    --hover: #f53677;
}
* {
    direction: rtl;
    text-align: right !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: yekan, serif;
}
section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
section .image-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}
section .image-box:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, rgba(10,150,250,0.5), rgba(230,30,100,0.5));
    z-index: 1;
    mix-blend-mode: screen;
    /* display: none; */
}
section .image-box img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
section .content-box .form-box {
    width: 50%;
}
section .content-box .form-box h2 {
    color: var(--headings);
    font-weight: 600;
    font-size: 1.5em;
    margin: 0 5px 20px 0;
    border-bottom: 4px solid var(--borders);
    display: inline-block;
    letter-spacing: 0.5px;
}
section .content-box .form-box .input-box label {
    display: inline-block;
    margin: 5px 10px 5px 0;
    font-size: 16px;
    color: var(--headings);
    font-weight: 300;
    letter-spacing: 0.5px;
}
section .content-box .form-box .input-box input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 600;
    border: 1px solid var(--headings);
    font-size: 16px;
    letter-spacing: 0.5px;
    color: var(--headings);
    background: transparent;
    border-radius: 30px;
}
section .content-box .form-box .input-box input[type="submit"] {
    background: var(--borders);
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: 900;
    border: none;
    display: flex;
    justify-content: center;
}
section .content-box .form-box .input-box input[type="submit"]:hover {
    background: var(--hover);
}
section .content-box .form-box .remember {
    font-weight: 400;
    font-size: 14px;
    margin: 10px 10px 10px 0;
    color: var(--headings);
}
section .content-box .form-box .remember label input {
    margin-left: 6px;
}
section .content-box .form-box .input-box p {
    color: var(--headings);
    margin: 10px 10px 10px 0;
}
section .content-box .form-box .input-box p a{
    color: var(--borders);
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
}
section .content-box .form-box h3 {
    color: var(--headings);
    display: flex;
    justify-content: center;
    margin: 80px 0 10px 0;
    font-weight: 500;
}
section .content-box .form-box .social-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: unset;
}
section .content-box .form-box .social-pages li {
    transition: all 0.5s ease;
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--headings);
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}
section .content-box .form-box .social-pages li:hover {
    background: var(--borders);
}
section .content-box .form-box .social-pages li img{
    width: 50px;
    height: 50px;
    transform: scale(0.55);
    filter: invert(1);
}
@media (max-width: 768px) {
    section .image-box {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    section .content-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 1;
        height: 100%;
    }
    section .content-box .form-box {
        width: 100%;
        background: rgba(255,255,255,0.90);
        padding: 40px;
        margin: 50px;
        border-radius: 25px;
    }
    section .content-box .form-box h3 {
        color: var(--headings);
        display: flex;
        justify-content: center;
        margin: 30px 0 10px 0;
        font-weight: 500;
    }
}
